name: Schedule
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          cache: true

      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm update-chain
      - id: checkUpdate
        name: check_for_data_updates
        run: |
          if GIT_CHANGES=$(git status --porcelain) && [ -z "$GIT_CHANGES" ]; then
            echo "Nothing to lint. Skipping this job!"
            exit 1
          fi
      - run: |
          git config --global user.name ${GITHUB_ACTOR}
          git config --global user.email zane@poowf.com
          git add ${GITHUB_WORKSPACE}/.
          pnpm build
          git commit -m "chore: update chain data"
          pnpm release
          git push --follow-tags
      - run: gh workflow run publish.yml --ref $(git describe --tags)
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: steps.checkUpdate.conclusion == 'success'